{% block joubjoub_relationship %}
   
    <div class="row">
        <h3>Relation Request you get</h3>
        {% for k,elem in formList %}
            {% if elem.relationship.linker.username != linker.username %}

                <form id='form-request-{{k}}' class="form-request" action="{{ path('joubjoub_relationship_update', {'rid': elem.relationship.id}) }}" method="post" novalidate='novalidate'>
                    <div> <b> {{elem.relationship.linker.username}}</b>  <span style="color: red;font-size:15px;">ASKED YOU</span>  a relation<b>({{elem.relationship.linked.username}})</b> </div>
                    {{form_widget(elem.form)}}
                    <input type="submit" name="" />
                </form>

            {% endif %}
        {% endfor %}
    </div>

    <div class="row">
        <h3>Relation Request you sent</h3>
        {% for k,elem in formList %}
            {% if elem.relationship.linker.username == linker.username %}

                <form id='form-request-{{k}}' class="form-request" action="{{ path('joubjoub_relationship_update', {'rid': elem.relationship.id}) }}" method="post" novalidate='novalidate'>
                    <div> <b>{{elem.relationship.linker.username}}</b>  <span style="color: red;font-size:15px;">YOU ASKED </span>  a relation to <b>({{elem.relationship.linked.username}})</b> </div>
                    {{form_widget(elem.form)}}
                    <input type="submit" name="" />
                </form>

            {% endif %}
        {% endfor %}
    </div>
{% endblock %}